* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #111;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Barra de navegação  e itens da mesma */
header {
    background-color: #1b1b1b;
    padding: 20px 0;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex; 
    justify-content: left; 
    flex-wrap: wrap; 
    margin-left: 150px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    margin-left: 30px;
}

nav ul li a {
    color: #9C9C9C;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #3C8700;
}

nav ul li img {
    display: inline-block; 
    width: 20px;
    height: 20px;
    vertical-align: middle; 
    margin: 0 5px; 
    margin-left: 250px;
    border: 2px solid transparent; 
    transition: border-color 0.3s ease; 
}

/* Parte da introdução, foto, texto e btn */
.intro {
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
    max-width: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center;  
    text-align: left; 
    padding: 0px;
    background-color: #080808;
}

.info {
    max-width: 600px;
    text-align: left;
    padding: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.info h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.info p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #797676;
}

.button {
    display: block; 
    width: 200px;
    background-color: #3C8700;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 25px;
}

.button:hover {
    background-color: #459801;
}

.profile-pic {
    float: right;
    padding: 20px;
    text-align: center;
    margin-right: 100px;
    margin-top: 60px;
}

.profile-pic img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    
}

/* Seção de projetos */
.separator {
    background-color: #fff;
    color: #000000;
    padding: 20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    min-height: 90vh;
    max-width: 80%;
    width: 100%;
}

.separator h2 {
    font-size: 2.2rem;
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
}

.separator p {
    font-size: 1.1rem;
    margin-bottom: 40px;
    text-align: center;
    color: #797676;
}

/* Estilo para os projetos */
.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 14px;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
}

.project-card h3 {
    color: #000;
    font-size: 1.5rem;
    margin: 15px 0 15px 0;
    text-align: left;
}
.project-card p {
    color: #797676;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    width: 70%;
}

.project-img {
    max-width: 100%;
    height: auto;
    margin-right: auto;
}

.project-container2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
}

.project-card2 {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    margin-right: auto;
    margin-left: 125px;
}

.project-img.img-gatoescola{
    margin-left: 135px;
}

/* Tags dos projetos */
.project-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.project-tag {
    border-radius: 15px;
    font-size: 14px;
    margin: 5px;
    padding: 5px 10px;
}

.orange-tag {
    background-color: #FFE4BC;
    color: #ff9900;
}

.blue-tag {
    background-color: #DDDEFF;
    color: #3A41F8;
}

.green-tag {
    background-color: #3d87006d;
    color: #3C8700;
}
 
/* Project buttons */
.project-button {
    display: flex;
    width: 155px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.orange-button {
    background-color: #ff9900;
}

.orange-button:hover {
    background-color: #f5a42c;
}

.blue-button {
    background-color: #3A41F8;
}

.blue-button:hover {
    background-color: #5A61FF;
}

.green-button {
    background-color: #3C8700;
}

.green-button:hover {
    background-color: #459801;
}

/* Botão para ver todos os projetos */
.vertodos-button {
    display: block; 
    width: 200px;
    background-color: #fff;
    color: #3C8700;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 3px solid #3C8700; ;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 60px;
}

.vertodos-button:hover {
    background-color: #3C8700;
    color: #fff;
}

/* Rodapé */
.footer {
    background-color: #080808;
    color: #9C9C9C;
    text-align: center;
    padding: 20px 0;
    width: 80%;
    font-size: 0.7rem;
    margin: 0 auto;
    border-top: 1px solid #2d2d2d;
}

/* Estilo para a seção Sobre Mim */
.sobremim-intro {
    margin-left: auto;
    margin-right: auto;
    min-height: 30vh;
    max-width: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center;  
    text-align: left; 
    padding: 0px;
    background-color: #080808;
}

.sobremim-pic {
    float: right;
    padding: 20px;
    text-align: center;
    margin-right: 100px;
    margin-top: 290px;
}

.sobremim-pic img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    
}

.sobremim-info {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.sobremim-info h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.sobremim-info p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    color: #797676;
}


/* Estilo para a seção Contato */
.container {
   
    color: #fff;
    text-align: center;
    padding: 40px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container h1 {
    font-size: 2.3rem;
    margin-bottom: 15px;
}

.container p {
    font-size: 1rem;
    line-height: 1.7em;
    margin-bottom: 50px;
    color: #9C9C9C;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    align-self: flex-start;
    margin-left: 67px;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

input, textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
}

input::placeholder, textarea::placeholder {
    color: #9e9e9e;
}

.submit {
    background-color: #3C8700;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.submit:hover {
    background-color: #459801;
}

/* Formação academica */
.formacao-card {
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 80%;
    height: auto;
    background-color: #fff;
}

.formacao-card h3 {
    color: #000;
    font-size: 1.5rem;
    margin: 15px 0 15px 0;
    text-align: center;
}

.formacao-card p {
    color: #797676;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 20px;
    text-align: left;
    width: 100%;
    margin: 0;
}

.formacao-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.formacao-item img.icon {
    width: 10%;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.formacao-item img.icon.icon-unp {
    width: auto;
    height:50px;
    margin: 0px 32px 0px 20px;
}

.formacao-item img.icon.icon-python, .formacao-item img.icon.icon-cisco{
    width: auto;
    height: 70px;
    margin: 0px 20px 0px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.formacao-item.item-python {
    margin-bottom: 40px;
}

.formacao-item img.icon.icon-networking {
    width: auto;
    height: 150px;
    margin-right: -10px;
    margin-left: -20px;
    cursor: pointer;
    transition: 0.3s;
    
}

#caption {
    visibility: hidden;
}


/* Estilo do Modal (inicialmente oculto) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

/* Conteúdo da Imagem dentro do Modal */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

/* Botão de fechar (x) */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}



/* Estilo para telas médias (Tablets e laptops pequenos) */
@media (max-width: 1024px) {
    nav ul {
        flex-direction: column;
        margin-left: 0;
    }

    .intro {
        max-width: 80%;
        margin-top: 50px;
        text-align: center;
    }

    .info {
        margin-left: 0;
        text-align: center;
    }

    .profile-pic {
        margin-right: 0;
        margin-top: 20px;
        text-align: center;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card, .project-card.project-card2 {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
        margin-right: auto;
    }
    
    .project-card.project-card2 {
        margin-bottom: 0px;
        margin-top: 70px;
    }

    .project-card p, .project-card h3 {
        word-wrap: break-word;

    }

    .project-img {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin: 0 auto;
    }

    .project-img.img-gatoescola{
        margin-top: -10px;
    }

    .project-container2 {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .project-tags, .project-card2 h3, .project-card2 p {
        display: block;
        text-align: left;
    }

    .formacao-item {
        flex-direction: column;
        align-items: center;
    }

    .formacao-item img.icon {
        width: 30px;
        height: auto;
    }
}

/* Estilo para telas pequenas (smartphones) */
@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }

    .button{
        margin: 0 auto;
        text-align: left;
    }
    
    .info h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .info p {
        font-size: 0.9rem;
        text-align: left;
    }

    .profile-pic img {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .separator h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    

    .project-card h3 {
        font-size: 1.3rem;
        text-align: left;
    }

    .project-card p {
        font-size: 0.9rem;
        width: 100%;
        text-align: left;
    };

    .project-img.img-gatoescola {
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: contain;
        margin: auto;
    }
    
    .project-button, .orange-button, .blue-button, .green-button {
        width: 100%;
    }

    label {
        margin-left: 20px;
    }
    
    input, textarea {
        max-width: 90%;
        margin: 0 5%; 
    }

    .formacao-item {
        flex-direction: column;
        align-items: center;
        margin: 20px 10px 0 10px;
    }

    .formacao-item img.icon {
        width: 30px;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .profile-pic img {
        object-fit: scale-down;
        justify-content: center;
    }

    .button {
        justify-content: center;
    }

    .info{
        margin: 0 auto;
        text-align: left;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }

    label {
        margin-left: 20px;
    }
    
    input, textarea {
        max-width: 90%; 
        margin: 0 5%; 
    }

    .formacao-item {
        flex-direction: column;
        align-items: center;
        margin: 0 10px 0 10px;
    }

    .formacao-item img.icon {
        width: 30px;
        height: auto;
    }
}

/* Ajustes para telas médias e grandes */
@media (min-width: 1024px) and (max-width: 1200px) {
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }
    
    .project-container2 {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 20px;
        flex-wrap: wrap;
    }
    
    .img-odonto {
        width: 100%;
        height: auto;
        max-width: 50%;
        object-fit: contain;
        margin-right: 10px;
       
    }

    .info{
        margin: 0 auto;
        text-align: left;
    }

    .project-card, .project-card2 {
        margin-left: 20px;
        flex: 1;
    }

    .project-card2 {
        width: 45%;
        margin-top: 20px;
        max-width: auto; 
        padding: 20px;
        box-sizing: border-box;
    }

    .img-gatoescola {
        width: 50%;
        height: auto;
        max-width: 100%;
        object-fit: contain;
       
    }

    .project-tags, .project-card2 h3, .project-card2 p {
        display: block;
        text-align: left;
        margin-top: 10px;
    }

    label {
        margin-left: 20px;
    }
    
    input, textarea {
        max-width: 90%; 
        margin: 0 5%; 
    }
}

/* Estilo para telas grandes (desktop) */
@media (min-width: 1200px) {
    .intro {
        max-width: 80%;
    }

    .project-container {
        justify-content: space-around;
    }

    .project-card, .project-card2 {
        width: 35%;
        text-align: left;
    }

    .profile-pic img {
        width: 400px;
        height: 400px;
    }

    label {
        margin-left: 30px;
    }
    
    input, textarea {
        max-width: 90%; 
        margin: 0 5%; 
    }
}

/* Estilo para telas 4K (telas muito grandes) */
@media (min-width: 2560px) {
    body {
        font-size: 18px;
    }

    .intro, .separator, .sobremim-intro {
        max-width: 60%;
    }

    .project-card, .project-card2 {
        text-align: left;
    }

    .project-card h3 {
        font-size: 2rem;
    }

    .project-card p {
        font-size: 1.2rem;
    }

    .profile-pic img {
        width: 500px;
        height: 500px;
    }

    .separator h2 {
        font-size: 3rem;
    }

    .footer {
        max-width: 60%;
    }

    .project-img.img-gatoescola {
        margin-left: 250px;
    }
}


