* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #111;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1b1b1b;
    padding: 20px 0;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #32CD32;
}

nav ul li img {
    display: inline-block; 
    width: 20px;
    height: 20px;
    vertical-align: middle; 
    margin: 0 5px; 
    margin-left: 55px;
    border: 2px solid transparent; 
    transition: border-color 0.3s ease; 
}

.intro {
    margin-top: 20px;
    flex-direction: column; 
    align-items: center;  
    text-align: left;
    width: 100%;
    padding: 0px;
    background-color: #1b1b1b;
}

.info {
    max-width: 600px;
    text-align: left;
    padding: 20px;
    margin-left: 350px;
    margin-top: 30px;
}

.info h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.info p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.button {
    display: block; 
    width: 200px;
    background-color: #32CD32;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #28a745;
}

.profile-pic {
    float: right;
    padding: 20px;
    text-align: center;
    margin-right: 350px;
}

.profile-pic img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    
}

.separator {
    text-align: center;
    background-color: #fff;
    color: #000000;
    padding: 20px;
}

.separator h2 {
    font-size: 2.2rem;
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
}

.separator p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    text-align: center;
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    width: 40%;
    margin-left: 200px;
}

.project-card h3 {
    color: #000;
    font-size: 1.5rem;
    margin: 10px 10px;
    text-align: left;
}
.project-card p {
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    width: 70%;
}

.project-img {
    max-width: 100%;
    height: auto;
    margin-right: 200px;
}

.project-container2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
}

.project-card2 {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    margin-right: 150px;
    margin-left: 100px;
}

.project-card2 h3 {
    color: #000;
    font-size: 1.5rem;
    margin: 10px 10px;
    text-align: left;
}
.project-card2 p {
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    width: 70%;
}

.project-img2 {
    width: 70%;
    height: auto;
    margin-left: 200px;
    margin-top: 0px;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.project-tag {
    background-color: #FFE4BC;
    border-radius: 15px;
    color: #FF9900;
    font-size: 14px;
    margin: 5px;
    padding: 5px 10px;
}

.project-tag2 {
    background-color: #DDDEFF;
    border-radius: 15px;
    color: #3A41F8;
    font-size: 14px;
    margin: 5px;
    padding: 5px 10px;
}

.project-tag3 {
    background-color: #E0FFF8;
    border-radius: 15px;
    color: #2AB090;
    font-size: 14px;
    margin: 5px;
    padding: 5px 10px;
}

.project-button {
    display: flex;
    width: 155px;
    background-color: #FF9900;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-button:hover {
    background-color: #faa82d;
}

.project-button2 {
    display: flex;
    width: 155px;
    background-color: #3A41F8;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-button2:hover {
    background-color: #4f55fc;
}

.project-button3 {
    display: flex;
    width: 155px;
    background-color: #2AB090;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-button3:hover {
    background-color: #67b6a3;
}

/* Para telas menores que 768px (tablets e celulares em modo paisagem) */
@media (max-width: 768px) {
    header, .separator, .project-card, .project-card2 {
        width: 90%; /* Aumenta a largura para ocupar mais espaço na tela menor */
        margin-left: auto;
        margin-right: auto;
    }

    .boxing {
        margin-left: 20px;
        margin-right: 20px;
    }

    .info, .profile-pic {
        margin-left: 0;
        margin-right: 0;
        text-align: center; /* Centraliza o conteúdo */
    }

    .profile-pic img {
        width: 200px;
        height: 200px;
    }

    .info h1 {
        font-size: 2rem; /* Diminui o tamanho da fonte */
    }

    .info p, .project-card p, .project-card2 p {
        font-size: 1rem; /* Ajusta o tamanho da fonte */
        width: 100%; /* Ajusta o texto para ocupar todo o espaço disponível */
    }

    .project-container, .project-container2 {
        flex-direction: column; /* Coloca os itens um abaixo do outro */
        align-items: center;
    }

    .project-card, .project-card2 {
        margin: 20px 0; /* Adiciona margem entre os itens */
        width: 90%;
    }

    .project-img, .project-img2 {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

/* Para telas menores que 480px (celulares) */
@media (max-width: 480px) {
    .project-button, .project-button2, .project-button3 {
        width: 100%; /* Deixa os botões ocuparem toda a largura */
    }

    .project-tags, nav ul {
        justify-content: center; /* Centraliza as tags e o menu */
    }

    nav ul li {
        margin: 10px 5px; /* Diminui o espaçamento entre os itens do menu */
    }
}


 @media (min-width: 1800px) {
    .project-card, .project-card3 {
        width: 30%;
        margin-left: 600px;
    }
    .project-img, .project-img3 {
       margin-right: 600px;
    }
    .project-card2 {
       width: 50%;
       margin-right: 450px;
       margin-left: 50px;
    }
    .project-img2 {
        margin-left: 450px;
    }
}

